*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'poppins','sans-serif';
}
body{
    font-family: "Roboto","Arial","sans-serif";
}
header{
    position: fixed;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    width: 100%;
    background-color: #b0e0e6;
}
header img{
    height: 30px;
    width: 30px;
}
.logo{
    text-decoration: none;
    color:rgb(35, 37, 37);
    font-size: 1.6rem;
    font-weight: 900px;
    padding-left: 15px;
   
}
.navigation{
    padding-left: 750px;
}
.navigation a{
    color: palevioletred;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500px;
    padding-left: 30px;
    padding-right: 30px;
}
.navigation a:hover{
    color: purple;
}
aside{
    width: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin-top: 30px;
    margin-bottom: 30px;
}
.namelist{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    background-color: #b0e0e6;
    border: 0 solid;
    border-radius: 1rem;
    margin-left: 5px;
    margin-top: 20px;
}
.list{
    height: 25%;
    width: 100%;
    overflow: auto;
    background-color: #b0e0e6;
    border: 0 solid;
    text-align: center;
    border-radius: 1rem;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 12px;
}
.home{
    flex-direction: column;
    display: flex;
    margin-top: 10px;
}
.home a{
    flex-direction: column;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    margin: 2px 0 2px 0;
    border-radius: 1rem;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 30px;
    background-color: #b0e0e6;
    height: 23px;
    font-size: 1.5rem;
   
}
.home a:hover{
    background-color: palevioletred;
    color: white;
}
.Chapters{
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.Chapters a{
    flex-direction: column;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    margin: 2px 0 2px 0;
    border-radius: 1rem;
    margin-top: 3px;
    margin-left: 5px;
    background-color: #b0e0e6;
    height: 23px;
    font-size: 1.5rem;
}
.Chapters a:hover{
    color: white;
    background-color: palevioletred;
}
main{
    width: 80%;
    height: 100%;
    margin-left: 17%;
    line-height: 2.2rem;
    padding-top: 60px;
}
h1{
    color: blue;
    text-align: center;
    font-size: 3rem ;
    padding-top: 20px;
    padding-bottom: 20px;
}
span{
    font-size: 3rem;
    color: palevioletred;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 2.8rem;
}
.first{
    font-size: 1.4rem;
    color: black;
    text-indent: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.first img{
    width: 50%;
    height: 180px;
}

.firstb{
    font-size: 1.4rem;
    color: black;
    text-indent: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.firstb img{
    width: 50%;
    height: 100px;
}

.img{
    font-size: 1.4rem;
    color: black;
    text-indent: 10px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 30px;
}
.img img{
    width: 30%;
    height: 150px;
} 
#had{
    height: 250px;
    width: 50%;
}
#dac{
    width: 50%;
    height: 250px;
}
#dcc{
    width: 65%;
    height: 145px;
}
#dce{
    width: 65%;
    height: 100px;
}
.sec{
    flex-direction: row;
    display: flex;
}

.sec img{
    width: 30%;
    height: 70px;
}
.fin{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fin a{
    color: blue;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500px;
    padding-left: 30px;
    padding-right: 30px;
}